body {
    background-color: lightskyblue; 
   
}

.facebook {
    height: 80vh;
    background-image: url(facebook.jpg);
    background-repeat: no-repeat;
}

section {
    padding: 50px 0;
}

a {
    color: black;
}

p {
    font-family: comicl;
}

h1 {
    font-weight: 500;
    font-family: comic;
    font-size: 50px;
    color: white;
}
h3  {
    text-transform: uppercase;
}
h4 {
   font-size: 14px;
    font-style: sans-serif;
    color: white;
    font-weight: bold;
}
.p1 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
#p2 {
    line-height: 20px;
    text-align: 20px;
    color: white;
    font-weight: bold;
}
